@import "../../style/variables.scss";

.flightsContainer {
  max-height: 90vh;
  overflow-y: auto;
  .ticketWrapper {
    @include ticketWrapper();
    .flightTicket {
      @include ticketStyle();
      margin: 0 auto 15px auto;
      text-align: center;
    }
  }
}
