$ticketBgColor: #f5f4f4;
$ticketHeight: 95px;

@mixin ticketStyle() {
  height: $ticketHeight;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background: $ticketBgColor;
  cursor: pointer;
  &:hover {
    box-shadow: 1px 1px 3px rgba(33,33,33,.2);
  }
  .title {
    font-weight: 500;
  }
}

@mixin ticketWrapper() {
  height: 90vh;
  padding: 10px;
  border: 1px solid lightgrey;
  border-radius: 5px;
}
