@import "../../style/variables.scss";

$timeLineIdle: lightgrey;
$timeLineScheduled: green;
$timeLineTurnaround: purple;
$timelineHeight: 50px;

.rotationContainer {
  .ticketWrapper {
    @include ticketWrapper();
    border: none;
    .rotationTicket {
      @include ticketStyle();
      text-align: center;
      margin: 0 auto 15px auto;
    }
    .emptyRotation {
      @include ticketStyle();
      margin-bottom: 30px;
      padding: 15px;
      border: 1px dashed lightgrey;
      text-align: center;
      cursor: default;
    }
    .timelineLabels {
      display: flex;
      justify-content: space-between;
      margin-bottom: 5px;
      margin-top: 15px;
    }
    .timeline {
      height: $timelineHeight;
      width: 100%;
      display: flex;
      background: $timeLineIdle;
      &.scheduled {
        background: $timeLineScheduled;
      }
      .timeblock {
        width: 20%;
        height: $timelineHeight;
        display: flex;
        .scheduled {
          width: 80%;
          height: $timelineHeight;
          background: $timeLineScheduled;
        }
        .turnaround {
          width: 20%;
          height: $timelineHeight;
          background: $timeLineTurnaround;
        }
      }
    }
  }
}
